@model Books

<div class="text-center $font-family-monospace bg-secondary m-1 p-1">
    <h4>Title: @Model.Title</h4>
    <p>Author: @Model.FirstName</p>
    <p>Author: @Model.LastName</p>
    <p>Publisher: @Model.Publisher</p>
    <p>ISBN: @Model.ISBN</p>
    <p>Category: @Model.Category</p>
    <p>Genre: @Model.Genre</p>
    <p>Price: @Model.Price</p>
    <p>Page Number: @Model.PageNumber</p>
</div>